*{
    padding: 0;
    margin: 0;
}
header{
    overflow: hidden;
    padding: 300px;
    color:darkslateblue;
    font-family:Courier;
    position: relative;
    font-size: 17px;
    background-color: white;
}
.pill-nav{
    display: inline;
    position: absolute;
    right: 3vw;
    top:0;
    line-height: 100px;
}
/* Style the links in the pill-nav */
.pill-nav a {    
    color: darkslateblue;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 60px;
}
  
/* Change the color of links on mouse-over */
.pill-nav a:hover {
    background-color: rgba(72, 61, 139, 0.5);
    color: beige;
}
  
/* Add a color to the active/current link */
.pill-nav a.active {
    background-color: rgba(72, 61, 139, 0.5);
    color: beige;
}
/* Dropdown Button */
.dropbtn {
    color: darkslateblue;
    padding: 10px;
    font-size: 20px;
    border:0;
    background-color:rgba(0, 0, 0, 0);
    font-family:courier;
    border-radius: 60px;
  }
/* The container <div> - needed to position the dropdown content */  
.dropdown {
    position: relative;
    display: inline-block;
    padding:10px;
  }
 /* Dropdown Content (Hidden by Default) */ 
.dropdown-content {
    display: none;
    position: absolute;
    text-align: center;
    min-width: 10px;
    z-index: 1;
    border:0;
  }
/* Links inside the dropdown */ 
.dropdown-content a {
    color: black;
    font-size: 15px;
    padding: 1px;
    text-decoration: none;
    display: inline-block;
    
  }
  
.dropdown-content a:hover {background-color:rgba(72, 61, 139, 0.2);}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: rgba(72, 61, 139, 0.5);
    color:beige;
}

/* Responsive */
@media screen and (max-width: 500px) {
    header {
      float: none;
      display: block;
      text-align: left;
    }
    .pill-nav {
      float: none;
    
    }
}
body{
    background-image: url('./windows\ 桌布.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.latest-row {
    display: flex;
    
}
  
.latest-column {
    flex: 25%;
    padding: 50px;
    align-items: center;
}
