* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}
h1{
  padding: 20px;
  color:darkslateblue;
  font-family:Courier;
  float: left;
  font-size: 30px;
  font-weight: bold;
}
/* Style tab links */
.tablink {
  font-family: 'Courier New', Courier, monospace;
  color: darkslateblue;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5);
  float: right;
  border-color: beige;
  border-width: 3px;
  border-radius: 100%;
  border-style: dotted;
  cursor: pointer;
  padding: 14px 16px;
  margin: 20px;
  font-size: 17px;
  width: 120px;
}

.tablink:hover {
  background-color: rgba(72, 61, 139, 0.5);
  color: beige;
  border-color: darkslateblue;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {
  background-image: url('image/windows\ 桌布.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;}
#Artworks {
  background-image: url('image/crinkled-paper-texture.jpg');
  background-size: 100% 100%;
}
#Activity {
  background-image: url('image/crinkled-paper-texture.jpg');
  background-repeat: repeat-y;
  
}
#About {
  background-color: orange;
}

.marquee-container{
  position:absolute;
  width:1300px;
  height:30px;
  top:20%;
  left:10%;
  overflow: hidden;
}
.marquee{
  display:inline-block;
  animation: marquee 10s linear infinite;
  font-family: courier;
  color: beige;
  text-shadow: -1px 0 darkslateblue, 0 1px darkslateblue, 1px 0 darkslateblue, 0 -1px darkslateblue;
  font-size: 25px;
  font-weight: bold;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.latest-row {
  position:absolute;
  display: flex;
  width: 1200px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -600px;
}

.latest-column {
  flex: 33.33%;
  padding: 20px;
  align-items: center;
}
.latest-column img{
  border-radius: 20px;
  box-shadow: 5px 5px 5px lightblue;
}
.overlay{
  position: absolute; 
  bottom: 10%; 
  background: rgba(255, 255, 255, 0.5);
  color: #f1f1f1; 
  width: 30%;
  transition: .5s ease;
  opacity:0;
  color: black;
  font-size: 15px;
  padding: 15px;
  text-align: center;
  font-family: courier;
}
.latest-column:hover .overlay {
  opacity: 1;
}

.about{
  position: relative;
  left: 13%;
}
.list {
  display: flex;
  position: relative;
  gap: 8px;
  padding: 16px;
  top: 100px;
  left:25%;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  height: 500px;
  width: 600px;
  background-color: white;
  border-radius: 20px;
}

.item {
  flex-shrink: 0;
  height: 500px;
  width: 500px;
  scroll-snap-align: center;
  background-color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height:500px;
  width:500px;
}
