.close-folder{
    position:relative;
    cursor: pointer;
}
.open-folder{
    position:absolute;
    top:0;
    left:0;
    opacity:0
}
.open-folder:hover{
    opacity:1
}
.close-folder:hover{
    opacity:0
}
